/.metadata
/schnitzel-server/bin
/schnitzel-common/bin
/schnitzel-server/.gradle
/schnitzel-common/.gradle
/schnitzel-common/.settings
/schnitzel-common/.classpath
.settings





*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*